<div class="card">
  <div class="card-header bg-dark mt-3 text-white">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input class="input-group mb-3" type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input class="input-group mb-3" type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn btn-dark btn-block">Login!</button>
    <a class="text-dark text-decoration-none mt-3" type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>