<div class="post card">
  <div class="card-header bg-dark mt-3 text-white">
    <h2>Create New Post</h2>
  </div>
  <form id="form-group" class="card-body">
    <label class="form-label" for="post-title">Title</label>
    <input id="title-input" type="text" name="post-title" class="form-control" />

    <label class="form-label" for="post-body">Content</label>
    <textarea id="body-input" name="post-body" class="form-control"></textarea>

    <button type="submit" class="btn btn-secondary mt-3">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>